BillingManagementSystem/SOA/Schemas/BillingSystemBPELProcess1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/CardValidationSystem/BillingManagementSystem/BillingSystemBPELProcess1"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="bsRequest">
    <complexType>
      <sequence>
        <element name="OrderId" type="integer"/>
        <element name="ItemInfo" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="ItemName" type="string"/>
              <element name="ItemCost" type="integer"/>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="bsResponse">
    <complexType>
      <sequence>
        <element name="OrderId" type="integer"/>
        <element name="ItemInfo" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="ItemName" type="string"/>
              <element name="ItemCost" type="integer"/>
            </sequence>
          </complexType>
        </element>
        <element name="TotalCost" type="integer"/>
      </sequence>
    </complexType>
  </element>
</schema>